.Header {
  padding: 16px 80px;
  background-color: $font_white;
  position: fixed;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  border-radius: 16px;
  display: flex;
  align-items: center;

  &__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: $bg_dark;
  }
}
