.Table {
  width: 100%;
  height: 600px;
  background-color: $font_white;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 16px;
  overflow: hidden;
  gap: 4px;

  &Head {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px 100px 100px;
    background-color: $bg_lgGrey;
    border-bottom: 1px solid $font_darkGrey;

    &__value {
      font-size: 16px;
      line-height: 100%;
      color: $font_darkGrey;
      font-weight: 600;
      padding: 16px 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      sub {
        font-size: 8px;
        position: relative;
        top: 3px;
        margin-left: 4px;
      }
    }
  }
}
