$bg_dark: #011627;
$lightGrey: #1e2d3d;
$highlight_orange: #fea55f;
$font_grey: #607b96;
$font_white: #ffffff;
$font_lgGrey: #e5e9f0;
$bg_lgGrey: #cfd4dc;
$font_darkGrey: #333f48;
$font_placeholder: #747678;
$sDesk: "min-width: 1441px";
$maleColor: #2986cc;
$femaleColor: #c90076;
$bg_twitch: #9146ff;
$bg_kick: #00e701;
$bg_youtube: #ff0000;
$bg_telegram: #2aabee;
