$bg_dark: #011627;
$lightGrey: #1e2d3d;
$highlight_orange: #fea55f;
$font_grey: #607b96;
$font_white: #ffffff;
$font_lgGrey: #e5e9f0;
$font_darkGrey: #333f48;
$font_placeholder: #747678;
$sDesk: "min-width: 1441px";
