.TableRow {
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr 0.5fr 1.2fr 0.8fr 1.5fr 100px;
  background-color: $font_white;
  border-bottom: 1px solid $font_darkGrey;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
  }

  &__cellContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;

    &:nth-child(2) {
      align-items: flex-start;
    }

    &:nth-child(3) {
      align-items: flex-start;
    }

    &:last-child {
      justify-content: center;
      border-right: 0;
    }
  }

  &__value {
    font-size: 16px;
    line-height: 100%;
    color: $font_darkGrey;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &Male {
      color: $maleColor;
    }

    &Female {
      color: $femaleColor;
    }

    &Twitch {
      background-color: rgba($color: $bg_twitch, $alpha: 1);
      color: $font_white;
      padding: 4px 6px;
      font-weight: 700;
    }

    &Kick {
      background-color: rgba($color: $bg_kick, $alpha: 1);
      padding: 4px 6px;
      font-weight: 700;
    }

    &Instagram {
      background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
      color: $font_white;
      padding: 4px 6px;
      font-weight: 700;
    }

    &YouTube {
      background-color: rgba($color: $bg_youtube, $alpha: 1);
      color: $font_white;
      padding: 4px 6px;
      font-weight: 700;
    }

    &TikTok {
      background: linear-gradient(to right, #fe2c55, #25f4ee, #ffffff);
      padding: 4px 6px;
      font-weight: 700;
    }

    &Telegram {
      background-color: rgba($color: $bg_telegram, $alpha: 1);
      color: $font_white;
      padding: 4px 6px;
      font-weight: 700;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 100%;
    color: $font_darkGrey;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(37, 100, 235, 0.3);
    }

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  &__newInfo {
    margin-left: 8px;
    background-color: rgba($color: #ff5252, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font_white;
    font-size: 12px;
    font-weight: 800;
    line-height: 100%;
    border-radius: 4px;
    padding: 4px;

    img {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
}
